<div class="index-wrap-title">
    <div class="index-wrap-title-content">
        <div class="index-wrap-title-content-left" style="background-image:url('/assets/img/web/logo.png')"></div>
        <div class="index-wrap-title-content-right">
            <div class="index-wrap-title-content-right-desc">咨询热线&nbsp&nbsp</div>
            <div class="index-wrap-title-content-right-tel">{$config.tel}</div>
        </div>
    </div>
</div>
<div class="index-wrap-banner"><img style="height: 350px" src='/assets/img/web/banner.png' alt=""></div>