<!DOCTYPE html>
<html lang="en">
<script src="__CDN__/assets/js/frontend/baidu.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <link rel="stylesheet" href="../swiper/package/css/swiper.min.css">
    <script src="../jquery-ui/external/jquery/jquery.js"></script>
    <script src="../jquery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="../jquery-ui/jquery-ui.css" />
    <script src="../swiper/package/js/swiper.min.js"></script>
    <script src="./index.js"></script>
</head>
<body>
    <div class="index-wrap">
        <div class="index-wrap-title">
            <div class="index-wrap-title-content">
                <div class="index-wrap-title-content-left"></div>
                <div class="index-wrap-title-content-right">
                    <div class="index-wrap-title-content-right-desc">咨询热线</div>
                    <div class="index-wrap-title-content-right-tel">400-6666-8888</div>
                </div>
            </div>
        </div>
        <div class="index-wrap-banner"></div>
        <div class="index-wrap-list">
            <div class="index-wrap-list-item">
                <div class="index-wrap-list-item-left tel-info">
                    <h3>增值电信</h3>
                    <h4>Value ADDED</h4>
                    <img />
                </div>
                <div class="index-wrap-list-item-right">
                    <div class="swiper-container contain1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO9001</h3>
                                    <p>全行适用，用国服务</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO14001</h3>
                                    <p>环境质量管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO45001</h3>
                                    <p>职业健康管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                        </div>
                        <div class="index-wrap-list-item-right-left-icon">
                            <span class="ui-icon ui-icon-triangle-1-w"></span>
                        </div>
                        <div class="index-wrap-list-item-right-right-icon">
                            <span class="ui-icon ui-icon-triangle-1-e"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-wrap-list-item">
                <div class="index-wrap-list-item-left service-certification">
                    <h3>认证服务</h3>
                    <h4>AUTHENTICATION</h4>
                    <img />
                </div>
                <div class="index-wrap-list-item-right">
                    <div class="swiper-container contain1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO9001</h3>
                                    <p>全行适用，用国服务</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO14001</h3>
                                    <p>环境质量管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO45001</h3>
                                    <p>职业健康管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO9001</h3>
                                    <p>全行适用，用国服务</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO14001</h3>
                                    <p>环境质量管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO45001</h3>
                                    <p>职业健康管理体系</p>
                                </div>
                            </div>
                        </div>
                        <div class="index-wrap-list-item-right-left-icon">
                            <span class="ui-icon ui-icon-triangle-1-w"></span>
                        </div>
                        <div class="index-wrap-list-item-right-right-icon">
                            <span class="ui-icon ui-icon-triangle-1-e"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-wrap-list-item">
                <div class="index-wrap-list-item-left intellectual-rights">
                    <h3>知识产权</h3>
                    <h4>KNOWLEDGE</h4>
                    <img />
                </div>
                <div class="index-wrap-list-item-right">
                    <div class="swiper-container contain1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO9001</h3>
                                    <p>全行适用，用国服务</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO14001</h3>
                                    <p>环境质量管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO45001</h3>
                                    <p>职业健康管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO9001</h3>
                                    <p>全行适用，用国服务</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO14001</h3>
                                    <p>环境质量管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO45001</h3>
                                    <p>职业健康管理体系</p>
                                </div>
                            </div>
                        </div>
                        <div class="index-wrap-list-item-right-left-icon">
                            <span class="ui-icon ui-icon-triangle-1-w"></span>
                        </div>
                        <div class="index-wrap-list-item-right-right-icon">
                            <span class="ui-icon ui-icon-triangle-1-e"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-wrap-list-item">
                <div class="index-wrap-list-item-left industrial-service">
                    <h3>工商服务</h3>
                    <h4>BUSINESS CIRCLES</h4>
                    <img />
                </div>
                <div class="index-wrap-list-item-right">
                    <div class="swiper-container contain1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO9001</h3>
                                    <p>全行适用，用国服务</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO14001</h3>
                                    <p>环境质量管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO45001</h3>
                                    <p>职业健康管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>3A认证</h3>
                                    <p>信用体系认证</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO9001</h3>
                                    <p>全行适用，用国服务</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO14001</h3>
                                    <p>环境质量管理体系</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img scr=""/>
                                <div>
                                    <h3>ISO45001</h3>
                                    <p>职业健康管理体系</p>
                                </div>
                            </div>
                        </div>
                        <div class="index-wrap-list-item-right-left-icon">
                            <span class="ui-icon ui-icon-triangle-1-w"></span>
                        </div>
                        <div class="index-wrap-list-item-right-right-icon">
                            <span class="ui-icon ui-icon-triangle-1-e"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="static-example">
            <h3>经典案例</h3>
            <span>专业顾问，一对一免费服务</span>
        </div>
        <div class="static-ask-content">
            <div class="static-ask-content-top"></div>
            <div class="static-ask-content-bottom">
                <div class="wrap">
                    <div class="swiper-container contain1">
                        <div class="swiper-wrapper people-wrapper">
                            <div class="swiper-slide">
                                <div class="img"></div>
                                <div class="desc">
                                    <h3>李磊</h3>
                                    <p>我是个介绍</p>
                                    <div class="btn">立即咨询</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img"></div>
                                <div class="desc">
                                    <h3>李磊</h3>
                                    <p>我是个介绍</p>
                                    <div class="btn">立即咨询</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img"></div>
                                <div class="desc">
                                    <h3>李磊</h3>
                                    <p>我是个介绍</p>
                                    <div class="btn">立即咨询</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img"></div>
                                <div class="desc">
                                    <h3>李磊</h3>
                                    <p>我是个介绍</p>
                                    <div class="btn">立即咨询</div>
                                </div>
                            </div>
                        </div>
                        <div class="index-wrap-list-item-right-left-icon">
                            <span class="ui-icon ui-icon-triangle-1-w"></span>
                        </div>
                        <div class="index-wrap-list-item-right-right-icon">
                            <span class="ui-icon ui-icon-triangle-1-e"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="static-example">
            <h3>经典案例</h3>
            <span>专业顾问，一对一免费服务</span>
        </div>
        <div class="static-example-content">
            <div class="static-example-content-wrap">
                <div class="left"></div>
                <div class="right">
                    <div class="right-item">
                        <img scr="">
                    </div>
                    <div class="right-item">
                        <img scr="">
                    </div>
                    <div class="right-item">
                        <img scr="">
                    </div>
                    <div class="right-item">
                        <img scr="">
                    </div>
                    <div class="right-item no-right-border">
                        <img scr="">
                    </div>
                    <div class="right-item no-border">
                        <img scr="">
                    </div>
                    <div class="right-item no-border">
                        <img scr="">
                    </div>
                    <div class="right-item no-border">
                        <img scr="">
                    </div>
                    <div class="right-item no-border">
                        <img scr="">
                    </div>
                    <div class="right-item no-border no-right-border">
                        <img scr="">
                    </div>
                </div>
            </div>
        </div>
        <div class="static-example">
            <h3>问题答疑专栏</h3>
            <span>专业顾问，一对一免费服务</span>
        </div>
        <div class="problem">
            <div class="problem-item">
                <div class="problem-item-top">
                    <div class="problem-item-top-left">
                        <span class="ui-icon ui-icon-triangle-1-e"></span>
                        <span class="problem-title">公司并购疑难</span>
                    </div>
                    <div class="problem-item-top-right">查看更多</div>
                </div>
                <div class="problem-item-bottom">
                    <ul>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                    </ul>
                </div>
            </div>
            <div class="problem-item">
                <div class="problem-item-top">
                    <div class="problem-item-top-left">
                        <span class="ui-icon ui-icon-triangle-1-e"></span>
                        <span class="problem-title">商标注册疑难</span>
                    </div>
                    <div class="problem-item-top-right">查看更多</div>
                </div>
                <div class="problem-item-bottom">
                    <ul>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                    </ul>
                </div>
            </div>
            <div class="problem-item">
                <div class="problem-item-top">
                    <div class="problem-item-top-left">
                        <span class="ui-icon ui-icon-triangle-1-e"></span>
                        <span class="problem-title">增值电信</span>
                    </div>
                    <div class="problem-item-top-right">查看更多</div>
                </div>
                <div class="problem-item-bottom">
                    <ul>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                    </ul>
                </div>
            </div>
            <div class="problem-item">
                <div class="problem-item-top">
                    <div class="problem-item-top-left">
                        <span class="ui-icon ui-icon-triangle-1-e"></span>
                        <span class="problem-title">知识产权疑难</span>
                    </div>
                    <div class="problem-item-top-right">查看更多</div>
                </div>
                <div class="problem-item-bottom">
                    <ul>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                        <li>
                            我是文章我是文章我是文章我是文章我是文章我是文章
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-content-left">
                    <h3>惠创业（北京）咨询有限公司</h3>
                    <p>公司地址：北京市通州区临河里1号楼16层1单元1610</p>
                    <p>京ICP备18053709号-1 京ICP备18053709号-1</p>
                </div>
                <div class="footer-content-right">
                    <div class="web"><a href="https://weibo.com">微博</a></div>
                    <div class="qq"><a href="tencent://message/?uin=输入QQ号&Site=http://vps.shuidazhe.com&Menu=yes">QQ</a></div>
                    <div class="wx">二维码</div>
                </div>
            </div>
        </div>
    </div>
    <div class="extra-box">
        <div class="extra-box-item">
            <div class="img"></div>
            <span id="serve"><a title="">客服</a></span>
        </div>
        <div class="extra-box-item">
            <div class="img"></div>
            <span id="tel"><a title="">电话</a></span>
        </div>
        <div class="extra-box-item">
            <div class="img"></div>
            <span id="mini"><a title="">二维码</a></span>
        </div>
        <div class="extra-box-item" id="scroll-top">
            <div class="img"></div>
            <span>置顶</span>
        </div>
    </div>
</body>
</html>